

.color {
  /* background-color: rgb(143, 136, 185); */

  background-color: #5f264a;

  color: aliceblue;
}

.home {
  border: none;
  background-color: #5f264a;
  color: aliceblue;
}

.nav-link {
  margin-left: 0.2%;
}

.nav-link {
  margin-left: 0.2%;
}
